* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
/* font is space mono 300 */

/* dark smoke bg url = https://media4.giphy.com/media/RI42LtoMA5mxi/giphy.gif?cid=ecf05e4708s3v0otbcb7m61w7lwn0fa2g19y3dkullkqnl85&rid=giphy.gif&ct=g */

body {
    background-image: url("https://media3.giphy.com/media/mYsyUjpYH9cPsVPJfV/giphy.gif?cid=ecf05e47pplnh7h1sp8afd6hygse0lucegbd8bhxvmdds32y&rid=giphy.gif&ct=g"); 
    background-color: #cccccc; 
    width: 100vw;
    /* height: 100vh;  */
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
    overflow: scroll;
}




/* ======================Nav stuff=============================================== */
nav {
    width: 100%;
    height: 6%;
    background-color: black;
    opacity: .5;
    display: flex;
    flex-direction: column;
}

#nav-bar {
    height: 2em;
    width: 1.5em;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: .1em;
    margin: 1em .15em;
    cursor: pointer;
}

.fa-bars {
    pointer-events: none;
}

nav h1 {
    padding: .3em 0 0 .3em;
    display: none;
}

nav ul {
    /* display: flex; */
    flex-direction: column;
    list-style-type: none;
    background-color: white;
    opacity: .8;
    display: none;
    position: absolute;
    top: 4em;
    width: 100%;
    z-index: 1;
}

nav ul li {
    margin: .2em 0 0 .1em;
    color: black;
}

nav ul li:first-child {
    padding-top: .2em;
}

nav ul li:last-child{
    padding-bottom: .5em;
}


#up-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 8%;
    height: 4%;
    margin: 0 .5em .5em 0;
    color: white;
    background-color: black;
    opacity: .7;
    border: none;
    border-radius: .7em;
    cursor: pointer;
}

#up-btn:hover{
    transform: scale(1.2);
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    transform: scale(1.2);
    color: blue;
}


/* ======================Nav stuff=============================================== */

/* =======================About Me section=============================== */

h1 {
    text-align: center;
    text-decoration: underline;
    color: white;
    margin-top: 1em;
}

h3 {
    text-align: center;
    text-decoration: underline;
    color: white;
    font-family: cursive;
    margin-top: 2em;
    opacity: .8;
}

.bio-section img {
    margin: 0 .5em .1em .5em;
    opacity: .7;
    float: left;
}


.bio-section p {
    margin: 1em 1em;
    clear: right;
    color: whitesmoke;
}

/* =======================About Me section=============================== */

/* =======================My Skills sections=============================== */

.skill-card {
    background-color: white;
    margin: 1em auto;
    padding: 1em;
    width: 60%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .9;
    /* overflow: scroll; */
    flex-wrap: wrap;
}

.skill-card img {
    width: 30%;
    margin: 1em 0 1.5em 0;
}

.skill-title {
    display: flex;
    margin-bottom: .5em;
}

.skill-card button {
    border: none;
    /* margin: 1em; */
    margin-left: 1em;
    margin-top: .1em;
    background: none;
}

.skill-card button:hover {
    transform: scale(1.2);
    color: blue;
}

.skill-card p {
    display: none;
}

/* =======================My Skills sections=============================== */

/* =======================Media Queries=============================== */

@media (min-width: 481px){
    body{
        background-color: black;
    }

    #nav-bar {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        height: 4em;
        justify-content: center;
        align-items: center;
    }

    nav h1 {
        display: flex;
        color: white;
        margin-left: .5em;
        margin-top: 0;
        padding-top: 0;
        text-decoration: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        position: static;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
    }

    nav ul li {
        margin-right: 2.5em;
    }

    nav ul li a {
        color: white;
    }

    nav ul li:first-child {
        padding-top: 0;
    }
    
    nav ul li:last-child{
        padding-bottom: 0;
    }

    /* unrelated to nav */
    .skill-flex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        overflow: scroll;
    }


    .skill-card {
        width: 30%;
        height: 40%;
    }


}

@media (min-width: 769px) {
    body{
        
        overflow: scroll;
    }

    nav {
        height: 7em;
    }

    nav h1 {
        font-size: 2.5em;
    }

    nav ul li {
        font-size: 1.5em;
    }

    /* unrelated nav stuff */

    h3 {
        font-size: 1.4em;
    }

    .bio-section img {
        width: 30%;
    }

    .bio-section p {
        font-size: 1.2em;
    }

    .skill-card {
        width: 40%;
        height: 20%;
    }
}

@media (min-width: 826px) {
    .bio-section {
        margin-bottom: 10em;
    }
}

@media (min-width: 1024px) {
    body{
        overflow: scroll;
    }

    nav {
        height: 5em;
    }

    nav h1 {
        font-size: 1.7em;
    }

    nav ul li {
        font-size: 1.2em;
    }

    /* unrelated nav stuff */
    h1 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.2em;
    }

    .bio-section {
        margin-bottom: 11em;
    }

    .bio-section img {
        width: 25%;
    }

    .bio-section p {
        font-size: 1em;
    }
    

    .skill-flex {
        justify-content: center;
        align-items: center;
        gap: 1em 1em;
    }

    .skill-card {
        width: 20%;
        height: 30%;
        
    }
}

@media (min-width: 1099px) {
    .bio-section {
        margin-bottom: 15em;
    }
}

@media (min-width: 1280px) {
    .bio-section {
        margin-bottom: 20em;
    }

    .skill-flex{
        padding-bottom: 2em;
    }
}

@media (min-width: 1538px) {
    .bio-section {
        margin-bottom: 25em;
    }

    #up-btn {
        width: 4%;
    }
}

@media (min-width:1680px) {
    nav {
        height: 6em;
    }

    nav h1 {
        font-size: 2.2em;
    }

    nav ul li {
        font-size: 1.6em;
    }

    /* unrelated nav stuff */

    h1{
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    .bio-section {
        margin-bottom: 25em;
    }

    .skill-card {
        width: 25%;
        height: 30%;
    }

    .skill-title {
        font-size: 1.4em;
    }

    .skill-details {
        font-size: 1.2em;
    }

    #up-btn {
        width: 4%;
    }
}

@media (min-width: 1858px) {
    .bio-section {
        margin-bottom: 30em;
    }
}

@media (min-width: 1920px) {
    h3 {
        font-size: 1.7em;
    }

    .bio-section img {
        width: 22%;
    }

    .bio-section p{
        font-size: 1.5em;
    }

}