* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
/* font is space mono 300 */

/* dark smoke bg url = https://media4.giphy.com/media/RI42LtoMA5mxi/giphy.gif?cid=ecf05e4708s3v0otbcb7m61w7lwn0fa2g19y3dkullkqnl85&rid=giphy.gif&ct=g */

body {
    background-image: url("https://media3.giphy.com/media/mYsyUjpYH9cPsVPJfV/giphy.gif?cid=ecf05e47pplnh7h1sp8afd6hygse0lucegbd8bhxvmdds32y&rid=giphy.gif&ct=g"); 
    background-color: #cccccc; 
    width: 100vw;
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
}




/* ======================Nav stuff=============================================== */
nav {
    width: 100%;
    height: 6%;
    background-color: black;
    opacity: .5;
    display: flex;
    flex-direction: column;
}

#nav-bar {
    height: 2em;
    width: 1.5em;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: .1em;
    margin: 1em .15em;
}

nav h1 {
    padding: .3em 0 0 .3em;
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: white;
    opacity: .8;
    display: none;
    position: absolute;
    top: 2.8em;
    width: 100%;
    z-index: 1;
}

nav ul li {
    margin: .2em 0 0 .1em;
    color: black;
}

nav ul li:first-child {
    padding-top: .2em;
}

nav ul li:last-child{
    padding-bottom: .5em;
}




/* ======================Nav stuff=============================================== */

/* =======================homepage text && socials=============================== */

main {
    display: flex;
    flex-direction: column;
}


main h1 {
    font-size: 1.1em;
    width: 80%;
    margin: 14em auto .5em auto;
    color: white;
    text-align: center;
}

main h4 {
    font-size: .65em;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    color: white;
    opacity: 0;
    /* display: none; */
}

#social-container {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 1em 0 0 0;
    opacity: 0;
    /* display: none; */
}


#social-container li {
    padding-right: .6em;
    cursor: pointer;
}

#social-container li a:hover {
    color: white;
    transform: scale(2);
}

a {
    text-decoration: none;
    color: black;
}

/* =======================homepage text && socials=============================== */

